<!DOCTYPE html>
<!--
  @author Victor I. Afolabi
  
  A.I. engineer/researcher & Software engineer
  javafolabi@gmail.com
  
  Created on 31 January, 2018 @ 3:23 PM.
  
  Copyright © 2018. Victor. All rights reserved.
-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>flask-react-template</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
</head>
<body>
  <div class="container"></div>
  <script src="dist/bundle.js"></script>
</body>
</html>